{% extends "recipe/base.html" %}
{% block title%}My Recipe{% endblock%}
{% block body%}

<div conatiner mt-5>
  <form  action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="container card mt-5">
      <div class="mb-3 ">
          <label for="exampleFormControlInput1" class="form-label">Recipe Name</label>
          <input name="name" type="text" class="form-control" id="exampleFormControlInput1" >
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Recipe Description</label>
          <textarea name="desc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3 ">
          <label for="exampleFormControlInput1" class="form-label">add image</label>
          <input name="image" type="file" class="form-control" id="exampleFormControlInput1" >
        </div>
        <div class="mb-3">
          <a href="/"><button class="btn btn-success container-fluid">Submit</button></a>
        </div>
  </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Recipe Name</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{recipe.recipe_name}}</td>
        <td>{{recipe.recipe_desc}}</td>
        <td>{{recipe.recipe_image}}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>

{% endblock%}